
.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border: none;
}

.title {
    text-align: center;
}

p {
    margin-left: 20px;
}

.images {
    width: 126px;
    height: 112px;
    margin-left: 507px;
    margin-top: 15px;
    position: absolute;
}

.tips{
    border: 2px solid black;
    height: 150px;
    width: 634px;
    margin: 12px;
}
