.cont {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border: none;
}
.boxes {
    display: inline-block;
    border: 2px solid black;
    width: 280px;
    height: 300px;
    text-align: center;
    margin-left: 37px;
    margin-top: 34px;

}

.titulos {
    text-align: center;
}
span {
    font-weight: bold;
}

p { 
    text-align: justify;
}
